.bg-primary{
    /* background-color: #F9FBF2 !important; */
    background-image: linear-gradient( #b2c7e8,#703D57);
    height: auto;
    width: auto;
}

.btn-primary{
    background-color: #888098 !important;
    border: #703D57 !important;
}
.text-info{
    color: #532d41 !important;
}
body{
    font-family: 'Rubik', sans-serif !important;
}
h2{
    font-family: 'Monomaniac One', sans-serif !important;
}
h1{
    font-family: 'Grenze Gotisch', cursive !important;
}
.rotate {
    animation-name: rotate;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
  }
  @keyframes rotate {
    50% {
        transform: rotateY(180deg);
    }
  }
.top{
    animation-name: top;
    animation-duration: 1s;
    animation-timing-function: ease ;

}
@keyframes top {
	0% {
		opacity: 0;
		transform: translateY(-250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.bounce{
    animation-name: bounce;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;

}
@keyframes bounce {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}
.wobble{
    animation-name: wobble;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;

}
@keyframes wobble {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(6deg);
	}

	30% {
		transform: translateX(15px) rotate(-6deg);
	}

	45% {
		transform: translateX(-15px) rotate(3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(1.2deg);
	}
}
.btn:hover {opacity: 0.6}