.bg-primary{
    background-image: linear-gradient( #d3b9ce,#7982d8);
    height: auto;
    width: auto;
}
/* changes color by adding impotant to bs */
.btn-primary{
    background-color: #77728b !important;
    border: #703D57 !important;
}
.bg-light{
    background-color: #aca0ae !important;
}
.text-info{
    color: #532d41 !important;
}
.bg-green{
	background-color: rgba(193, 151, 198, 0.2) !important;

}
.bg-warning{
    background-color:#f1f1f1 !important;
}
.bg-dark{
    background-color:  rgba(0, 0, 0, 0.2) !important;
}
/* fonts */
body{
    font-family: 'Rubik', sans-serif !important;
}
main{
	padding: 20px 20px 20px;
}
h2{
    font-family: 'Monomaniac One', sans-serif !important;
}
h1{
    font-family: 'Grenze Gotisch', cursive !important;
}
.form-container{
	width: 80%;;
}
.card{
	margin-left: 50px;
	align-items: center;
	background-color: transparent;
	border: rgb(149, 116, 182) 0.8px solid;
}
.cards{
	background-color: rgb(255, 255, 255);

}

.img-fluid{
	margin-top: 20px;
}

.feature-list {
	margin-bottom: 30px;
  }
  .feature-list h3 {
	margin-top: 20px;
	font-size: 1.5rem;
	font-weight: bold;
  }
  .feature-list ul {
	list-style-type: disc;
	margin-left: 20px;
  }
  .feature-list ul li {
	margin-bottom: 10px;
  }
  .custom-card {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 20px;
	margin-top: 20px;
  }
  .custom-card img {
	max-width: 50%;
	height: 60px;
	border-radius: 5px;
  }


.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px; /* Adjust the gap as needed */
    padding: 20px; /* Adjust padding as needed */
}

.list-container .custom-card {
    padding: 20px; /* Adjust padding as needed */
    border: 1px solid #ddd;
}


.download-container {
    grid-column: span 2; /* Makes the download button span across both columns */
    text-align: center; /* Center align the button */
}
.list-container{
	background-color: #dbd4de;
	padding: 20px;
	border-radius: 40px;
	margin-top: 20px;

}
.achievements-section{
	border-radius: 40px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
  }
  
  .column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
	.column {
	  flex: 50%;
	  max-width: 50%;
	}
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.column {
	  flex: 100%;
	  max-width: 100%;
	}
  }



/* animation */
@keyframes glow {
	0% {
		box-shadow: 0 0 5px rgba(126, 54, 214, 0.5);
	}
	50% {
		box-shadow: 0 0 20px rgb(184, 64, 184);
	}
	100% {
		box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
	}
}

.achievements-section {
	animation: fadeIn 1s ease-in-out, glow 2s infinite ease-in-out;
}
  
.rotate {
    animation-name: rotate;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
  }
  @keyframes rotate {
    50% {
        transform: rotateY(180deg);
    }
  }
.top{
    animation-name: top;
    animation-duration: 1s;
    animation-timing-function: ease ;

}
@keyframes top {
	0% {
		opacity: 0;
		transform: translateY(-250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.bounce{
    animation-name: bounce;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;

}
/* @keyframes bounce {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
} */
.wobble{
    animation-name: wobble;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;

}
@keyframes wobble {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(6deg);
	}

	30% {
		transform: translateX(15px) rotate(-6deg);
	}

	45% {
		transform: translateX(-15px) rotate(3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(1.2deg);
	}
}